.navbar-nav>li>a {
	margin-left: 2px !important;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #FFF;
	background-color: #0a828d;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 4px;

}
#services{
	height: 100px;
}
.alert-banner{
	padding: 37px 0px 50px 0px;
}
.text-muted{
	color:#FFF !important;
}
.wizard, .tabcontrol {
	display: block;
	width: 100%;
	overflow: hidden;
}
.wizard>.steps {
	position: relative;
	display: block;
	width: 100%;
}
.wizard ul, .tabcontrol ul {
	list-style: none!important;
	padding: 0;
	margin: 0;
}
.wizard>.steps>ul>li, .wizard>.actions>ul>li {
	float: left;
}
.wizard>.steps>ul>li {
	/*width: 25%;*/
	padding: 5px 10px 5px 10px;
}
.wizard ul>li, .tabcontrol ul>li {
display: block;
	padding: 0;
}
 ul>li {
	line-height: 1.5em;
}
.wizard>.steps ul li a:visited {
	background: #660033;
	color: #FFF;
	cursor: default;
	padding: 5px 25px;
	border-radius: 5px;
}
.wizard>.steps .current a, .wizard>.steps .current a:hover, .wizard>.steps .current a:active {
	background: #660033;
	color: #FFF;
	cursor: default;
	padding: 5px 25px;
	border-radius: 5px;
}

.form-horizontal .control-label {
	text-align: left !important;
}
.content.clearfix {
	padding-left: 30px;
	background-color: #FFF;
	padding: 20px;
	border-radius: 10px;
}
.wizard>.actions {
	/*position: relative;*/
	display: block;
	text-align: right;
	width: 100%;
	padding-top: 10px;
}
.wizard>.actions>ul {
	display: inline-block;
	text-align: right;
}
.wizard ul, .tabcontrol ul {
	list-style: none!important;
	padding: 0;
	margin: 0;
}
.wizard>.actions>ul>li {
	margin: 0 .5em;
}
.wizard>.steps>ul>li, .wizard>.actions>ul>li {
	float: left;
}
.wizard>.actions .disabled a, .wizard>.actions .disabled a:hover, .wizard>.actions .disabled a:active {
	background: #EEE;
	color: #AAA;
}
.wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active {
	background: #0A828D;
	color: #FFF;
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wizard > .content > .title{
    left: -999em;
    position: absolute;
}
.wizard>.steps ul li a {
	background: rgba(0, 0, 0, 0);
	color: #660033;
	padding: 5px 25px;
	border-radius: 5px;
	border: 1px solid #660033;
	-webkit-transition: .5s;
	transition: .5s;
	display: inline-block;
	cursor: pointer;
}
.wizard>.steps ul li a:hover, .wizard>.steps ul li a:hover {
	background: #660033;
	color: #FFF;
}
/*==========WIZ SUB ==============*/
.wizardsub, .tabcontrol {
	display: block;
	width: 100%;
	overflow: hidden;
}
.wizardsub>.steps {
	position: relative;
	display: block;
	width: 100%;
}
.wizardsub ul, .tabcontrol ul {
	list-style: none!important;
	padding: 0;
	margin: 0;
}
.wizardsub>.steps>ul>li, .wizardsub>.actions>ul>li {
	float: left;
}
.wizardsub>.steps>ul>li {
	/*width: 25%;*/
	padding: 5px 10px 5px 10px;
}
.wizardsub ul>li, .tabcontrol ul>li {
display: block;
	padding: 0;
}
 ul>li {
	line-height: 1.5em;
}
.wizardsub>.steps ul li a:visited {
	background: #660033;
	color: #FFF;
	cursor: default;
	padding: 5px 25px;
	border-radius: 5px;
}
.wizardsub>.steps .current a, .wizardsub>.steps .current a:hover, .wizardsub>.steps .current a:active {
	background: #660033;
	color: #FFF;
	cursor: default;
	padding: 5px 25px;
	border-radius: 5px;
}

.form-horizontal .control-label {
	text-align: left !important;
}
.content.clearfix {
	padding-left: 30px;
	background-color: #FFF;
	padding: 20px;
	border-radius: 10px;
}
.wizardsub>.actions {
	/*position: relative;*/
	display: block;
	text-align: right;
	width: 100%;
	padding-top: 10px;
}
.wizardsub>.actions>ul {
	display: inline-block;
	text-align: right;
}
.wizardsub ul, .tabcontrol ul {
	list-style: none!important;
	padding: 0;
	margin: 0;
}
.wizardsub>.actions>ul>li {
	margin: 0 .5em;
}
.wizardsub>.steps>ul>li, .wizardsub>.actions>ul>li {
	float: left;
}
.wizardsub>.actions .disabled a, .wizardsub>.actions .disabled a:hover, .wizardsub>.actions .disabled a:active {
	background: #EEE;
	color: #AAA;
}
.wizardsub>.actions a, .wizardsub>.actions a:hover, .wizardsub>.actions a:active {
	background: #0A828D;
	color: #FFF;
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wizardsub > .content > .title{
    left: -999em;
    position: absolute;
}
.wizardsub>.steps ul li a {
	background: rgba(0, 0, 0, 0);
	color: #660033;
	padding: 5px 25px;
	border-radius: 5px;
	border: 1px solid #660033;
	-webkit-transition: .5s;
	transition: .5s;
	display: inline-block;
	cursor: pointer;
}
.wizardsub>.steps ul li a:hover, .wizardsub>.steps ul li a:hover {
	background: #660033;
	color: #FFF;
}
/*==========WIZ ENDS =============*/
p.titlle {
	margin: 0px !important;
	padding-bottom: 2px;
}